* {
  margin: 0;
}

body {
  font-family: 'Graduate', cursive;
}

.choices {
  margin: 0.5rem 0;
}

.jersey-images,
#jersey-name,
#jersey-number {
  position: absolute;
  width: 100%;
}

#jersey-name {
  top: 28%;
  text-align: center;
  font-size: 1.8vw;
}

#jersey-number {
  top: 30%;
  text-align: center;
  font-size: 8vw;
}
