* {
  margin: 0;
}

body {
  font-family: 'Graduate', cursive;
}

#gender,
.colors {
  margin: 0.5rem 1rem 0.5rem 0;
}

#jersey-name {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
}

#jersey-number {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  font-size: 10vw;
}
